body {
    background: $black;
    &.menu-active {
        overflow: hidden;
    }
}


/* -------------- */

.global-wrapper {
    margin-bottom: 100vh;
    position: relative;
    z-index: 10;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 1);
    transition: all .5s;
    backface-visibility: hidden;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    &.join-us-etereotypes-open {
        margin-bottom: 0;
    }
    &.menu-active {
        transform: translateX(100vw);
    }
}