/*
 * STYLES
 */

.brand-logo {
  background-image: url("/images/logo-inverse.svg");
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 10vw;
  max-width: 90px;
  z-index: 5;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: contain;
  @media all and (max-width: $xs-max) {
    left: 0;
    right: 0;
    width: 28vw;
    height: 10vw;
    margin: 0 auto;
  }
}
.people-bio-open {
  overflow: hidden;
}
.menu-open {
  overflow: hidden;
  .brand-logo {
    background-image: url("/images/logo.svg");
    position: fixed;
  }
  .menu {
    opacity: 1;
    z-index: 1;
  }
}

.menu {
  z-index: -1;
  transition: opacity $transition-base;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: $white;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  justify-content: space-around;
  .menu-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    @media all and (max-width: $xs-max) {
      flex-flow: column;
      justify-content: center;
      a {
        font-size: 5vw;
        padding: 1.5em;
      }
    }
  }
  a {
    &:after {
      display: block;
      transition: all $transition-base;
      content: "";
      width: 0;
      height: 0px;
      border: 1px solid transparent;
      margin: 0 auto;
      position: relative;
      left: -1px;
    }
    &:hover {
      color: $black;
      &:after {
        width: 100%;
        border: 1px solid $black;
      }
    }
  }
  p {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
}

.menu-toggle, .bio-closer {
  user-select: none;
  cursor: pointer;
  transition: all $transition-base;
  position: fixed;
  right: 2vw;
  top: 0vw;
  color: $white;
  font-size: 6vw;
  z-index: 10;
  font-weight: 300;
  &.active {
    color: $black;
    transform: rotate(-45deg);
    transform-origin: 55% 50%;
  }
  @media all and (max-width: $xs-max) {
    font-size: 15vw;
    right: 3vw;
    top: -3vw;
  }
}

.hero {
  height: 110vh;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  h1 {
    // ff and safari do not center with flex correctly
    top: 35%;
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    @media all and (max-width: $xs-max) {
      width: initial;
    }
  }
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $black;
    opacity: 0.9;
  }
}

.about {
  background-color: $white;
  .about-content {
    position: relative;
    top: -15vh;
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-small;
    color: $white;
    margin: 0;
    &:after {
      content: "";
      display: block;
      width: 0px;
      height: 4em;
      margin: 1em auto 0;
      border-right: 1px solid $white;
    }
  }
  .panel {
    display: flex;
    background-color: $gray-lighter;
    width: 90vw;
    margin: 0 auto;
    padding: 2em 0;
    & > div {
      width: 50%;
    }
    & > div:first-child {
      padding-left: 3em;
      padding-right: 1em;
      text-align: right;
      h1 {
        margin-top: 0;
      }
    }
    & > div:nth-child(2) {
      padding-left: 1em;
      padding-right: 3em;
    }
    .lead {
      padding-top: 3.8vw;
      @media all and (min-width: $sm-min) {
        line-height: 0.9em;
      }
    }
    @media all and (max-width: $xs-max) {
      display: block;
      & > div {
        width: initial;
        text-align: left;
        padding-left: 2em;
      }
    }
  }
}

.services {
  background-color: $black;
  padding-top: 15em;
  color: white;
  padding-bottom: 5em;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 30vh;
    background: $white;
    top: 0;
  }
  img {
    width: 90vw;
    margin: 0 auto;
    display: block;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -10em;
  }
  .title {
    text-align: center;
    margin-top: -1em;
  }
  ul {
    display: flex;
    padding: 0;
    width: 90vw;
    margin: 0 auto;
    li {
      list-style: none;
      padding: 2em;
    }
    @media all and (max-width: $xs-max) {
      display: initial;
      text-align: center;
      li {
        width: 80%;
        margin: 0 auto;
      }
    }
    @media all and (min-width: $lg-min) {
      width: 80vw;
      li {
        padding: 3em;
      }
    }
  }
}

@media all and (max-width: $xs-max) {
  // FF fix
  _::-moz-range-track, body:last-child .people {
    padding-bottom: 1em;
  }
}

.people {
  background-color: $white;
  height: 100%;
  .people-content {
    position: relative;
    top: -5em;
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-small;
    margin: 0;
    color: $white;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 0px;
      height: 10em;
      margin: 1em auto 3em;
      border-right: 1px solid $gray;
    }
  }
  h1 {
    text-align: center;
    width: 35vw;
    margin: 0 auto;
    margin-bottom: 4em;
    position: relative;
  }
  .people-list {
    display: flex;
    justify-content: space-around;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    & > div {
      width: 40%;
      .people-bio {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #FFF;
        overflow: hidden;
        opacity: 0;
        z-index: -1;
        transition: opacity $transition-base;
        &.show {
          opacity: 1;
          z-index: 15;
          .bio-image {
            display: block;
            &::before {
              display: block;
            }
          }
          .bio-content {
            display: block;
          }
        }
        &.bio-anthanh {
          .bio-image {
            background: url('/images/anthanh-bio.jpg');
            background-size: cover;
            background-position: 45%;
          }
        }
        &.bio-hayder {
          .bio-image {
            background: url('/images/hayder-bio.jpg');
            background-size: 150%;
            background-position: 65% 70%;
          }
        }
        .bio-image {
          width: 36vw;
          height: 100%;
          background: $black;
          position: relative;
          left: -36vw;
          animation-name: bio-image;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
          animation-delay: 0s;
          display: none;
          @keyframes bio-image {
            0%   {left:-20vw; opacity: 0;}
            100% {left: 0; opacity: 1;}
        }
          &::before {
            display: none;
            content: '';
            height: 100%;
            width: 100%;
            opacity: .8;
            background: $black;
            position: absolute;
            animation-name: bio-image-cover;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 1s;
            left: 0;
            @keyframes bio-image-cover {
              0%   {opacity: .8;}
              100% {opacity: 0;}
          }
          }
        }
        .bio-content {
          display: inline-block;
          height: auto;
          right: -40vw;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          float: right;
          width: 40vw;
          text-align: left;
          margin: 0 15vw 0 0vw;
          animation-name: bio-content;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
          animation-delay: 0s;
          display: none;
          @keyframes bio-content {
            0%   {right:-10vw; opacity:0;}
            100% {right: 0; opacity:1;}
        }
          p.people-title {
            text-transform: uppercase;
            color: $gray;
          }
          p {
            color: $black;
            line-height: 1.5;
            font-size: $font-size-small;
          }
        }
        .bio-next {
          position: absolute;
          right: 3vw;
          bottom: 3vw;
          border: none;
          img {
            transform: rotate(180deg);
          }
        }
      }
      &:first-of-type {
        text-align: right;
      }
      h3 {
        margin-bottom: 0;
      }
      img {
        width: 100%;
        max-width: 300px;
      }
      .people-title {
        margin: .5em 0 2em 0;
      }
      a {
        border: 2px solid $gray-lighter;
        padding: 15px 25px;
        margin-top: 0px;
        display: inline-block;
        position: relative;
        transition: all $transition-base;
        &:hover {
          background: $gray-lighter;
        }
        img {
          width: 15px;
          padding: 0 5px;
        }
      }
      a.right {
        img {
          transform: rotate(180deg);
        }
      }
    }
    @media all and (max-width: $xs-max) {
      display: initial;
      & > div {
        width: 70%;
        margin: 5em auto;
      }
    }
  }
}

footer {
  text-align: center;
  background-color: $gray-lighter;
  margin-bottom: 20em;
  @media all and (max-width: $xs-max) {
    margin-bottom: 38em;
  }
  @media all and (min-width: $lg-min) {
    margin-bottom: 19em;
  }
  .contact-row {
    padding: 3em;
    border-bottom: 1px solid $gray-medium;
    p {
      margin: 0;
    }
  }
  .small {
    text-transform: uppercase;
  }
  .contact-row-main {
    background-color: $gray-light;
    padding-bottom: 7em;
    padding-left: 0;
    border-bottom: none;
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: -1;
    h2 {
      font-weight: 600;
    }
    p {
      width: 35vw;
      margin: 0 auto;
      margin-bottom: 2em;
    }
  }
}
