@import "./_normalize";
@import "./_fonts";

/* Home > Intro */

#intro {
  height: calc(100vh - 0px);
}

.hero {
  padding: 0;
  top: 0;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  transform: scale(1.3);
  transition: all .5s ease-in-out;
  animation-name: hero;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  @keyframes hero {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  h2 {
    // ff and safari do not center with flex correctly
    top: 43%;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 12px;
    right: 0;
    left: 0;
    font-size: 42px;
    line-height: 60px;
    &::after {
      display: none;
    }
    &::before {
      content: 'We are etéreo';
      text-transform: none;
      top: -50px;
    }
    &.animation {
      opacity: 0;
      animation-name: hero-h1;
      animation-duration: 1s;
      animation-delay: 500ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      @keyframes hero-h1 {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    span {
      display: block;
      &.animation {
        opacity: 0;
        animation-name: hero-h1-span;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        @keyframes hero-h1-span {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  .scrolldown {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    animation-name: scrolldown;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    z-index: 20;
    @keyframes scrolldown {
      0% {
        opacity: 1;
      }
      50% {
        opacity: .3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $black;
    opacity: 1;
    animation-name: hero-before;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    @keyframes hero-before {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0.94;
        opacity: .5;
      }
    }
  }
  @media all and (max-width: $xs-max) {
    h2 {
      width: 85vw;
      font-size: 18px;
      line-height: 25px;
    }
  }
}


/* Home > Join Us */

#join-us {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  bottom: 0;
  padding: 0;
  @media all and (max-width: $xs-max) {
    height: 100vh;
  }
  .join-us-main {
    transition: all .5s;
    backface-visibility: hidden;
    transition: left 0.7s;
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    padding: 0;
    margin: 0;
    width: 100vw;
    .central-content {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      img {
        width: 70px;
        margin-bottom: 25px;
        @media all and (max-width: $xs-max) {
          display: none;
        }
      }
      h2 {
        position: relative;
        margin-bottom: 25px;
        padding: 1em;
        @media all and (max-width: $xs-max) {
          padding: 0;
          &::before {
            display: none;
          }
        }
        &::after {
          display: none;
        }
        &::before {
          content: 'Show us your talent';
        }
        &.contact-title {
          &::before {
            top: 30px;
            content: 'Make the leap. Drop us a line.';
          }
        }
      }
      h3 {
        @media all and (max-width: $xs-max) {
          font-size: 18px;
        }
      }
      a {
        color: $black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        position: relative;
        cursor: pointer;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .join-us-apply-closer {
    position: fixed;
    bottom: 35px;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border-top: .3rem solid $white;
    border-right: .3rem solid $white;
    transition: all .3s ease-in-out;
    left: 35px;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
    cursor: pointer;
    opacity: 0;
    mix-blend-mode: difference;
    &:hover {
      transform: translate3d(0, -50%, 0) rotate(45deg);
    }
    &.join-us-etereotypes-open {
      opacity: 1;
    }
  }
  h2 {
    margin-bottom: 150px;
    @media all and (max-width: $xs-max) {
      padding: 2em 0;
    }
    &::after {
      display: none;
    }
    &::before {
      content: 'Inside the house';
    }
  }
}
