/*
 * UTILS
 */

.sr {
  visibility: hidden;
}

section {
  display: block;
  position: relative;
  padding: 150px 0;
  @media all and (max-width: $xs-max) {
    padding: 4em 0;
  }
  h2 {
    position: relative;
    font-size: 64px;
    letter-spacing: 1px;
    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      background: $red;
      bottom: -50px;
      left: 0;
    }
    &::before {
      font-family: 'Playfair Display', serif;
      position: absolute;
      color: $gray-dark;
      font-size: 24px;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 1px;
      top: -30px;
      left: 50%;
      transform: translateX(-50%) translateY(-10px);
    }
    @media all and (max-width: $xs-max) {
      font-size: 40px;
      &::before {
        font-size: 19px;
        top: -3em;
        transform: translateX(-50%);
        width: 60%;
      }
    }
  }
  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .5px;
  }
}

.container {
  width: calc(100% - 60px);
  max-width: 1400px;
  padding: 30px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.bg-white {
  background: $white;
  color: $black;
  a.button {
    background-color: $black;
    color: $white;
    &:hover {
      background-color: $white;
      color: $black;
      box-shadow: 0px 5px 50px rgba(0, 0, 0, .25);
    }
  }
}

.bg-gray {
  background: $gray-light;
  color: $black;
  a.button {
    background-color: $black;
    color: $white;
    &:hover {
      background-color: $white;
      color: $black;
      box-shadow: 0px 5px 50px rgba(0, 0, 0, .25);
    }
  }
}

.bg-black {
  background: $black;
  color: $gray-light;
  a.button {
    background-color: $white;
    color: $black;
    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: 0px 5px 50px rgba(256, 256, 256, .25);
    }
  }
}

.hidden {
  display: none !important;
}
