$xxs-max: 475px;
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 1200px;
$lg-min: 1201px;

$black: #1f2126;
$white: #FFFFFF;
$gray: #abaeb4;
$gray-dark: #626262;
$gray-light: #dde0e6;
$gray-lighter: #e9ebee;
$gray-medium: #dde0e6;
$gray-tinted: #676d92;
$text-color: $black;
$text-inverse-color: $gray-lighter;
$blue: #61c1fe;
$green: #77eabc;
$yellow: #e6ea77;
$orange: #e8b460;
$violet: #a58cec;


$font-size-h1: 2.8vw; // 52px; // services, humans
$font-size-h2: 2.7vw; // 48px; // h1
$font-size-h3: 2.1vw; // 44px; // hero
$font-size-h4: 36px; // title claim, people name
$font-size-h5: 20px; // text normal
$font-size-h6: 1.6vw; // 18px; //

$font-size-base: 1.5vw; // 18px; // claim text, people description
$font-size-small: 1.2vw; //14px; // small, people-title
$font-size-smallest: 12px; // anchor


$transition-fast: 0.1s;
$transition-base: 0.3s;
$transition-slow: 0.5s;
$transition-slower: 1s;
