#about-intro {
    h2 {
        margin-top: 150px;
        &::after {
            display: none;
        }
    }
    h4 {
        font-family: 'Playfair Display', serif;
        font-size: 21px;
        letter-spacing: .5px;
        line-height: 40px;
        color: $gray-dark;
        max-width: 800px;
        font-weight: 300;
    }
    q {
        font-size: 45px;
        color: $black;
        font-family: 'Playfair Display', serif;
        line-height: 60px;
        letter-spacing: 1px;
        max-width: 1100px;
        display: block;
        padding-top: 100px;
    }
    .about-us-pictures {
        margin-top: 100px;
        position: relative;
        .slick-slide {
            height: auto;
        }
        &::before {
            content: '';
            position: absolute;
            width: 25%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 10;
        }
        &::after {
            content: '';
            position: absolute;
            width: 25%;
            height: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            z-index: 10;
        }
        .about-us-pictures-unit {
            margin: 0 25px;
            transform: scale(.9);
            transition: all 1s ease-in-out;
            &:focus {
                outline: none;
                cursor: pointer;
            }
            img {
                width: 100%;
                max-width: 850px;
                filter: grayscale(100%);
                opacity: .5;
            }
        }
        .slick-dots {
            bottom: -65px;
        }
        .slick-current {
            transform: scale(1);
            img {
                filter: grayscale(0%);
                transition: all 1s ease-in-out;
                opacity: 1;
            }
        }
    }
}

#about-us {
    text-align: center;
    h2 {
        max-width: 950px;
        font-size: 52px;
        margin-left: auto;
        margin-right: auto;
        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    h3 {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        line-height: 40px;
        padding-top: 50px;
        margin-bottom: 75px;
    }
    @media all and (max-width: $xs-max) {
        padding: 1em 0;
        h2 {
            font-size: 45px;
            line-height: 45px;
            text-align: left;
        }
        h3 {
            font-size: 18px;
            line-height: 30px;
            text-align: left;
        }
    }
}

#about-us-values {
    padding-bottom: 0;
    h2 {
        text-align: center;
        &::before {
            content: 'Things we madly love doing';
        }
        &::after {
            display: none;
        }
    }
    .values-unit {
        display: block;
        text-align: center;
        margin: 400px auto;
        max-width: 1200px;
        &:last-child {
            margin-bottom: 150px;
        }
        &.odd {
            .values-unit-picture {
                float: left;
            }
            .values-unit-description {
                float: right;
                padding-right: 0;
            }
        }
        .values-unit-picture {
            display: inline-block;
            vertical-align: middle;
            float: right;
            position: relative;
            .number-focus {
                position: absolute;
                top: 0;
                left: 35px;
                font-size: 150px;
                color: $white;
            }
            img {
                width: 100%;
                max-width: 640px;
            }
        }
        .values-unit-description {
            display: inline-block;
            width: calc(45% - 150px);
            text-align: left;
            padding-right: 150px;
            position: relative;
            vertical-align: middle;
            float: left;
            &:last-of-type {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
            .values-unit-number {
                font-size: 26px;
                font-weight: 600;
                position: relative;
                text-align: center;
                width: 100px;
                height: 100px;
                line-height: 100px;
                margin: 0;
                padding: 0;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background: url('../images/hexagon.svg');
                    top: 0;
                    left: 0;
                    animation-name: hexagon;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    @keyframes hexagon {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            h3 {
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 0;
                font-family: 'Mark', Helvetica, Arial, sans-serif;
                position: relative;
                margin-top: 10px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 2px;
                    background: $red;
                    bottom: -30px;
                    left: 0;
                }
            }
            p {
                font-size: 20px;
                font-weight: 300;
                line-height: 32px;
                color: $gray-dark;
                padding-top: 25px;
            }
        }
    }
}