.about-navigation {
  position: fixed;
  top: 100px;
  left: 60px;
  color: #FFF;
  z-index: 50;
  mix-blend-mode: difference;
  ul {
    padding: 0 0 0 30px;
    li {
      display: block;
      padding: 0;
      line-height: 10px;
      position: relative;
      transition: all .3s ease-in-out;
      &:hover {
        a {
        color: #FFF;
        opacity: 1;
        }
        &::before {
          background: #FFF;
          opacity: 1;
        }
      }
      &.active {
        line-height: 30px;
        a {
          opacity: 1;
          color: #FFF;
        }
        &::before {
          background: #FFF;
          opacity: 1;
          width: 75px;
          left: -90px;
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 1px;
        background: $gray-dark;
        top: 50%;
        transform: translateY(-50%);
        left: -50px;
        opacity: .7;
        transition: all .3s ease-in-out;
      }
      a {
        color: $gray-dark;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        transition: all .3s ease-in-out;
        opacity: 0;
      }
    }
  }
}

#about-intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  .about-intro-cover {
    background: #171A1C;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75;
    z-index: 11;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 12;
  }
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
  }
    h2 {
      margin-top: 0;
        &::after {
            display: none;
        }
    }
    h4 {
        font-family: 'Playfair Display', serif;
        font-size: 21px;
        letter-spacing: .5px;
        line-height: 40px;
        color: $gray-dark;
        max-width: 800px;
        font-weight: 300;
        margin: 0 auto;
    }
    q {
        font-size: 45px;
        color: $black;
        font-family: 'Playfair Display', serif;
        line-height: 60px;
        letter-spacing: 1px;
        max-width: 1100px;
        display: block;
        padding-top: 100px;
        margin: 0 auto;
    }
    .about-us-pictures {
        margin-top: 100px;
        position: relative;
        .slick-slide {
            height: auto;
        }
        &::before {
            content: '';
            position: absolute;
            width: 25%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 10;
        }
        &::after {
            content: '';
            position: absolute;
            width: 25%;
            height: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            z-index: 10;
        }
        .about-us-pictures-unit {
            margin: 0 25px;
            transform: scale(.9);
            transition: all 1s ease-in-out;
            &:focus {
                outline: none;
                cursor: pointer;
            }
            img {
                width: 100%;
                max-width: 850px;
                filter: grayscale(100%);
                opacity: .5;
            }
        }
        .slick-dots {
            bottom: -65px;
        }
        .slick-current {
            transform: scale(1);
            img {
                filter: grayscale(0%);
                transition: all 1s ease-in-out;
                opacity: 1;
            }
        }
    }
    .scrolldown {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        animation-name: scrolldown;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        z-index: 20;
        @keyframes scrolldown {
            0% {
                opacity: 1;
            }
            50% {
                opacity: .3;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

#about-us {
    text-align: center;
    h2 {
        max-width: 950px;
        font-size: 52px;
        margin-left: auto;
        margin-right: auto;
        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    h3 {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        line-height: 40px;
        padding-top: 50px;
        margin-bottom: 75px;
    }
    @media all and (max-width: $xs-max) {
        padding: 1em 0;
        h2 {
            font-size: 45px;
            line-height: 45px;
            text-align: left;
        }
        h3 {
            font-size: 18px;
            line-height: 30px;
            text-align: left;
        }
    }
}

#about-us-values {
    padding-bottom: 0;
    h2 {
        text-align: center;
        &::before {
            content: 'Things we madly love doing';
        }
        &::after {
            display: none;
        }
    }
    .values-unit {
        display: block;
        text-align: center;
        margin: 400px auto;
        max-width: 1200px;
        &:last-child {
            margin-bottom: 150px;
        }
        &.odd {
            .values-unit-picture {
                float: left;
            }
            .values-unit-description {
                float: right;
                padding-right: 0;
            }
        }
        .values-unit-picture {
            display: inline-block;
            vertical-align: middle;
            float: right;
            position: relative;
            .number-focus {
                position: absolute;
                top: 0;
                left: 35px;
                font-size: 150px;
                color: $white;
            }
            img {
                width: 100%;
                max-width: 640px;
            }
        }
        .values-unit-description {
            display: inline-block;
            width: calc(45% - 150px);
            text-align: left;
            padding-right: 150px;
            position: relative;
            vertical-align: middle;
            float: left;
            &:last-of-type {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
            .values-unit-number {
                font-size: 26px;
                font-weight: 600;
                position: relative;
                text-align: center;
                width: 100px;
                height: 100px;
                line-height: 100px;
                margin: 0;
                padding: 0;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    background: url('../images/hexagon.svg');
                    top: 0;
                    left: 0;
                    animation-name: hexagon;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    @keyframes hexagon {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
            h3 {
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 0;
                font-family: 'Mark', Helvetica, Arial, sans-serif;
                position: relative;
                margin-top: 10px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 2px;
                    background: $red;
                    bottom: -30px;
                    left: 0;
                }
            }
            p {
                font-size: 20px;
                font-weight: 300;
                line-height: 32px;
                color: $gray-dark;
                padding-top: 25px;
            }
        }
    }
}

#how-to-2 {
  .how-to-circular-outter {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: relative;
    border: 1px solid $gray-dark;
    margin: 0 auto;

    img {
      width: 120px;
      position: absolute;
      background: #FFF;
      animation-name: circular-image;
      animation-duration: 15s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
      left: 0;
      top: 0;
      opacity: 0;
      margin-top: 200px;
      margin-left: 225px;
      /*&:hover {
        animation-play-state: paused;
      }*/
      &.how-to-2 {
        animation-delay: 3s;
      }

      &.how-to-3 {
        animation-delay: 6s;
      }

      &.how-to-4 {
        animation-delay: 9s;
      }

      &.how-to-5 {
        animation-delay: 12s;
      }
      @keyframes circular-image {
        0% {
          opacity: 1;
		transform: rotate(0deg)
		           translate(-275px)
		           rotate(0deg);
	}
	100% {
    opacity: 1;
		transform: rotate(360deg)
		           translate(-275px)
		           rotate(-360deg);
	}
      }
    }
    .how-to-circular-inner-1 {
      position: absolute;
      width: 350px;
      height: 350px;
      border: 2px dashed $gray-dark;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-name: circular-inner-1;
      animation-duration: 12s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-iteration-count: infinite;
      animation-direction: reverse;
        @keyframes circular-inner-1 {
          0% {
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
          }

          100% {
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
          }
        }
    }

    .how-to-circular-inner-2 {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 2px dashed $gray-dark;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-name: circular-inner-2;
      animation-duration: 12s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-iteration-count: infinite;
        @keyframes circular-inner-2 {
          0% {
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
          }

          100% {
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
          }
      }
    }

    .how-to-circular-inner-3 {
      position: absolute;
      width: 100px;
      height: 100px;
      border: 2px dashed $red;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-name: circular-inner-3;
      animation-duration: 12s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-iteration-count: infinite;
      animation-direction: reverse;
        @keyframes circular-inner-3 {
          0% {
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
          }

          100% {
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
          }
      }
    }
  }
}





.central-object {
  position: relative;
  width: 350px;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 0 0 black;
  margin: -30px 0 0 -35px;
  z-index: 99999999;
  padding: 0;
}
.child {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border-style: dashed;
  border-width: 1px;
  border-color: $red;
  top: 0%;
  left: 0%;
  z-index: -1;
    }

.decagon{
  top: 30%;
  left: 50%;
  border-color: $red;
}

#dec_two {margin-left: 25px; margin-top: 15px;animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite;}
@keyframes blasa {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
#dec_three{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: 40px; margin-top: 40px;}
#dec_four{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left:40px; margin-top: 65px;}
#dec_five{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left:25px; margin-top: 85px;}
#dec_six{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-top: 100px;}
#dec_seven {animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: -25px;margin-top:100px;}
#dec_eight{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: -50px;margin-top:85px; }
#dec_nine{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: -65px;margin-top: 65px; }
#dec_ten{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: -65px; margin-top: 40px; }
#dec_eleven{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: -50px; margin-top: 15px; }
#dec_twelve{animation-name:blasa; animation-duration:10s;animation-iteration-count:infinite; margin-left: -25px;}
