/* Company Section */

.page {
  main {
    z-index: 0;
    .section-bg {
      background: url('../images/company/company-bg.jpg');
      background-size: cover;
      background-position: center;
      animation-name: section-bg;
      animation-duration: 30s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: -1;
      @keyframes section-bg {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.4);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
  /* Services Section */
  #services {
    padding-bottom: 400px;
    overflow-x: hidden;
    @media all and (max-width: 600px) {
      padding-bottom: 150px;
    }
    h3 {
      padding-bottom: 250px;
      @media all and (max-width: 600px) {
        padding-bottom: 50px;
      }
    }
    .services-list {
      .services-unit {
        float: left;
        display: block;
        padding-left: 200px;
        margin-top: 100px;
        position: relative;
        h5 {
          font-size: 40px;
          font-weight: 600;
          z-index: 10;
          position: relative;
        }
        p {
          max-width: 400px;
          padding-left: 50px;
          padding-top: 50px;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: .8px;
          z-index: 10;
          position: relative;
          @media all and (max-width: 600px) {
            padding-left: 0px;
          }
        }
        &.services-unit-design {
          float: right;
        }
        &.services-unit-strategy, &.services-unit-design, &.services-unit-technology {
          /*&::after {
            content: '';
            position: absolute;
            width: 265px;
            height: 265px;
            left: 0;
            top: 0;
            z-index: 5;
            border: 15px solid #202427;
          }*/
          svg {
            position: absolute;
            left: 50px;
            top: 0;
            z-index: 5;
            .path {
              stroke-dasharray: 1000;
              stroke-dashoffset: 1000;
              animation: dash 5s linear forwards;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              animation-timing-function: ease-in-out;
              @keyframes dash {
                to {
                  stroke-dashoffset: 0;
                }
              }
            }
            &.sub {
              z-index: 4;
              .path {
                animation-delay: .5s;
              }
            }
          }
        }
        &.services-unit-design {
          &::after {
            border-radius: 50%;
          }
        }
        &.services-unit-strategy {
          svg {
            transform: rotate(-225deg);
          }
        }
        /*&.services-unit-technology {
          &::after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 156px 265px 156px;
            border-color: transparent transparent $black transparent;
          }
          &::before {
            content: '';
            position: absolute;
            left: -29px;
            top: -30px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 185px 310px 185px;
            border-color: transparent transparent #202427 transparent;
            z-index: 4;
          }
        }*/
        @media screen and (max-width: $max-xs) {
          padding: 0;
          &:after, &:before {
            display: none;
          }
        }
      }
    }
  }
  /* How-to Section */
  #how-to {
    h3 {
      padding-bottom: 250px;
      padding-top: 150px;
      @media all and (max-width: 600px) {
        padding-top: 0px;
        padding-bottom: 100px;
      }
    }
    .how-to-list {
      .how-to-unit {
        padding-bottom: 250px;
        display: inline-block;
        position: relative;
        @media all and (max-width: 600px) {
          padding-bottom: 100px;
        }
        .description {
          display: inline-block;
          float: left;
          width: 50%;
          h5 {
            font-size: 40px;
            font-weight: 500;
            z-index: 10;
            position: relative;
          }
          p {
            font-size: 21px;
            line-height: 32px;
            padding-left: 50px;
            padding-top: 50px;
            @media all and (max-width: 600px) {
              padding-left: 0px;
            }
          }
        }
        .figure {
          display: inline-block;
          width: 50%;
          position: absolute;
          top: 0;
          height: 250px;
          float: right;
          span {
            position: absolute;
            width: calc(100% - 50px);
            height: 2px;
            background: $black;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            animation-name: how-to-figure;
            animation-duration: 4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &::after {
              position: absolute;
              content: '';
              width: calc(100% - 50px);
              height: 2px;
              background: #FFF;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              animation-name: how-to-figure-after;
              animation-duration: 4s;
              animation-delay: 2.5s;
              animation-fill-mode: forwards;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
              animation-direction: alternate;
            }
            @keyframes how-to-figure {
              0% {
                width: calc(100% - 50px)
              }
              100% {
                width: calc(0% - 50px)
              }
            }
            @keyframes how-to-figure-after {
              0% {
                width: calc(100% - 50px)
              }
              100% {
                width: calc(0% - 50px)
              }
            }
          }
        }
        @media screen and (max-width: $max-xs) {
          .description {
            width: 100%;
          }
          .figure {
            display: none;
          }
        }
        &.how-to-unit-concept {
          .figure {
            span {}
          }
        }
        &.how-to-unit-creation {
          .description {
            float: right;
          }
          .figure {
            .zigzag {
              top: 50%;
              transform: translateY(-50%);
              background: #FFF;
              position: relative;
              height: 16px;
              z-index: 1;
              width: calc(100% - 50px);
              &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                animation-name: zig-zag;
                animation-duration: 10s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                @keyframes zig-zag {
                  0% {
                    background-position: 0% 0%;
                  }
                  100% {
                    background-position: 150% 0%;
                  }
                }
              }
              &:before {
                height: (16px - 4px);
                top: 120%;
                background: linear-gradient(-135deg, #171A1C 8px, transparent 0) 0 8px, linear-gradient( 135deg, #171A1C 8px, transparent 0) 0 8px;
                background-position: top left;
                background-repeat: repeat-x;
                background-size: 16px 16px;
              }
              &:after {
                height: 16px;
                top: 100%;
                background: linear-gradient(-135deg, #FFF 8px, transparent 0) 0 8px, linear-gradient( 135deg, #FFF 8px, transparent 0) 0 8px;
                background-position: top left;
                background-repeat: repeat-x;
                background-size: 16px 16px;
              }
            }
            span {
              left: 0;
              right: auto;
            }
          }
        }
        &.how-to-unit-excellence {
          padding-bottom: 0;
          .figure {
            overflow: hidden;
            position: relative;
            .heart-rate {
              width: calc(100% - 50px);
              top: 50%;
              right: 0;
              height: 73px;
              position: absolute;
              margin-top: -35px;
            }
            .fade-in {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #FFFFFF;
              top: 0;
              right: 0;
              animation: heartRateIn 5s linear infinite;
            }
            .fade-out {
              position: absolute;
              width: 120%;
              height: 100%;
              top: 0;
              left: -120%;
              animation: heartRateOut 5s linear infinite;
              background: rgba(255, 255, 255, 1);
              background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
              background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
              background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
              background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
              background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
            }
            @keyframes heartRateIn {
              0% {
                width: 100%;
              }
              50% {
                width: 0;
              }
              100% {
                width: 0;
              }
            }
            @keyframes heartRateOut {
              0% {
                left: -120%;
              }
              30% {
                left: -120%;
              }
              100% {
                left: 0;
              }
            }
          }
        }
      }
    }
  }
  /* Partners Section */
  #partners {
    border-bottom: 1px solid #FFF;
    padding: 250px 0 150px 0;
    @media all and (max-width: 600px) {
      padding: 150px 0 150px 0;
    }
    .container {
      max-width: 1320px;
    }
    h3 {
      text-align: center;
      margin: 0 auto;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: inline-block;
        text-align: center;
        background: #FFF;
        padding: 35px;
        box-shadow: 0 25px 25px 0 rgba(155, 159, 181, .18);
        transition: box-shadow $normal-transition;
        margin: 0.9em;
        &:hover {
          box-shadow: 0 5px 5px 0 rgba(155, 159, 181, .35);
        }
        a::after {
          display: none;
        }
      }
    }
    @media all and (min-width: 1136px) and (max-width: 1435px) {
      .container {
        padding: 0;
      }
      ul {
        li {
          padding: 10px;
        }
      }
    }
  }
}
