#dna {
  position: relative;
  padding: 9em 0;
}

.call-dna {
  background: $red;
  color: $red-dark;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 90%;
  max-width: 1090px;
  position: absolute;
  text-align: center;
  padding: 175px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  /*transform: translateX(-50%) translateY(-50%); (ScrollReveal crashes)*/
  margin: 0em auto;
  transition: all .3s ease-in-out;
  box-shadow: 0 16px 25px 0 rgba(108, 24, 36, 0.40);
  &::before {
    content: 'Want to know more?';
    position: absolute;
    transition: all .3s ease-in-out;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%) translateY(-25px);
    font-size: 24px;
    color: $red-dark;
    letter-spacing: 0;
  }
  &::after {
    content: '';
    position: absolute;
    width: 210px;
    height: 220px;
    background: url('../images/fingerprint.svg');
    background-size: cover;
    top: 50%;
    left: 20%;
    right: 0px;
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%) rotate(-15deg);
    transition: all .3s ease-in-out;
    z-index: -1;
    opacity: .10;
  }
  &:hover {
    background: $black;
    color: $white;
    box-shadow: 0 16px 150px 0 rgba(23, 26, 28, 0.40);
    &::before {
      color: $red;
    }
    &::after {
      opacity: .25;
    }
  }
  @media all and (max-width: $xs-max) {
    font-size: 47px;
    width: 90vw;
    padding: 2.5em 0 2em;
    top: 13px;
    right: 5%;
    left: auto;
    margin: -3.2em auto;
    &::before {
      transform: translateX(-50%) translateY(-45px);
      font-size: 20px;
    }
    &::after {
      background-size: contain;
      background-repeat: no-repeat;
      width: 37%;
      height: 50%;
      left: 40%;
    }
  }
}
