.slider-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  padding: 0;
  margin-bottom: 300px;

  .slider-navigation {
    position: fixed;
    height: 100vh;
    left: 65px;
    top: 0;
    z-index: 60;
    ul {
      position: absolute;
      top: 50%;
      -webkit-transform: rotate(-90deg) translateX(-50%);
      -moz-transform: rotate(-90deg) translateX(-50%);
      -o-transform: rotate(-90deg) translateX(-50%);
      -ms-transform: rotate(-90deg) translateX(-50%);
      transform: rotate(-90deg) translateX(-50%);
      left: 50%;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      white-space: nowrap;
      li {
        display: inline-block;
        color: #FFF;
        padding-right: 60px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        a {
          color: #FFF;
          position: relative;
          &.active {
            &::after {
              content: '';
              width: 100%;
              height: 2px;
              background: #FFF;
              position: absolute;
              bottom: -5px;
              left: 0;
            }
          }
        }
      }
    }
  }

  .slider-bg {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 79px));
    background-repeat-y: no-repeat!important;
    width: 100vw;
    height: 423px;
    background: url('/images/home/slider/twotoforty/twotoforty-personas.png');
    z-index: -2;
    &::before {
      content: '';
      width: 15%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(-90deg, rgba(23,25,27,0.00) 0%, #17191B 100%);
      left: 0;
    }
    &::after {
      content: '';
      width: 15%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(90deg, rgba(23,25,27,0.00) 0%, #17191B 100%);
      right: 0;
    }
    .slider-bg-cover {
      position: absolute;
      width: 100%;
      height: calc(100% + 1px);
      background: $black;
      opacity: .9;
      z-index: -1;
      top: -1px;
    }
  }

  article.slider-unit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    h3.slider-letter {
      width: 500px;
      height: 560px;
      background: url('/images/home/slider/twotoforty/twotoforty-letter.png');
      background-position: center;
      text-indent: -9999px;
      background-repeat: no-repeat;
      padding: 0;
    }

    h4.slider-title {
      font-size: 64px;
      font-weight: 600;
      letter-spacing: 1px;
      display: block;
      padding: 0 0 35px 0;
    }

    h5.slider-subtitle {
      font-size: 24px;
      letter-spacing: .5px;
      font-weight: 100;
      display: block;
      padding-bottom: 50px;
    }

    a {
      display: inline;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      &::after {
        width: 100%;
        background: #FFF;
        bottom: -5px;
      }
    }
  }


}
