#how-we-are {
  height: auto;
  text-align: center;
  position: relative;
  padding-bottom: 0;
  h2 {
    margin-bottom: 150px;
    &::before {
      content: 'The etereotypes';
    }
    &::after {
      display: none;
    }
  }
  .etereotypes-list {
    margin-bottom: 100px;
    .etereotypes-list-unit {
      display: inline-block;
      width: calc(33% - 150px);
      text-align: left;
      padding-right: 150px;
      position: relative;
      vertical-align: top;
      &:last-of-type {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
      .etereotypes-list-unit-number {
        font-size: 26px;
        font-weight: 600;
        position: relative;
        text-align: center;
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: 0;
        padding: 0;
        &::before {
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          background: url('../images/hexagon.svg');
          top: 0;
          left: 0;
          animation-name: hexagon;
          animation-duration: 10s;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
          animation-delay: 0s;
          @keyframes hexagon {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
      h3 {
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0;
        font-family: 'Mark', Helvetica, Arial, sans-serif;
        position: relative;
        margin-top: 10px;
        &::after {
          content: '';
          position: absolute;
          width: 80px;
          height: 2px;
          background: $red;
          bottom: -30px;
          left: 0;
        }
      }
      p {
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        color: $gray-dark;
        padding-top: 25px;
      }
    }
  }
  .etereotypes-cons {
    background: $gray-light;
    padding: 150px 35px;
    h2 {
      color: $black;
      margin: 0 0 50px 0;
      &::before {
        display: none;
      }
    }
    p {
      color: $gray-dark;
      width: 90%;
      max-width: 850px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 32px;
    }
  }
  &.contact-form-etereotypes .etereotypes-about-you {
    padding: 0;
  }
}
