.language-switcher-trans {
  position: fixed;
  bottom: 40px;
  left: 45px;
  width: 40px;
  height: 40px;
  z-index: 20;
  a {
    position: absolute;
    display: block;
    color: $black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    text-align: center;
    line-height: 40px;
    transition: all .5s ease-in-out;
    bottom: 0;
    left: 0;
    font-size: 14px;
    &.active {
      z-index: 21;
      transform: scale(1);
    }
    &.second {
      z-index: 20;
      transform: scale(.75);
    }
  }
  &:hover {
    a.active {
      transform: scale(.65);
      background: $black;
      color: #FFF;
    }
    a.second {
      bottom: 20px;
      left: 20px;
      transform: scale(1);
    }
    .language-switcher-transition {
      opacity: 1;
      bottom: 15px;
      right: 20px;
    }
  }
}
