header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 50;
    mix-blend-mode: difference;
    h1 {
        background: url('../images/logo-inverse.svg');
        width: 90px;
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 35px;
        left: 35px;
        a {
            display: block;
        }
    }
    .menu-opener {
        width: 33px;
        position: absolute;
        right: 35px;
        top: 35px;
        cursor: pointer;
        padding: 10px;
        .menu-brick {
            height: 4px;
            background: $white;
            margin-top: 6px;
            transition: 0.65s ease-out;
        }
        &.open {
            .menu-brick:first-child {
                transform: rotate(405deg);
                margin-top: 14px;
            }
            .menu-brick:last-child {
                transform: rotate(-405deg);
                margin-top: -14px;
            }
            .middle {
                transform: scale(0);
            }
        }
    }
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $white;
    top: 0;
    left: -100vw;
    z-index: 30;
    transition: all .5s;
    backface-visibility: hidden;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    &.menu-active {
        transform: translateX(100%);
        .cover {
            display: initial;
        }
    }
    .cover {
        position: absolute;
        font-size: 140px;
        width: 50%;
        right: 10%;
        text-align: right;
        bottom: 10%;
        color: $gray-light;
        transform: translateX(200px) scale(1.2);
        opacity: 0;
        transition: all .5s ease-in-out;
        z-index: -1;
        display: none;
        user-select: none;
        &.hover {
            transform: translateX(0px) scale(1);
            opacity: 1;
        }
    }
    nav {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        ul {
            li {
                display: inline-block;
                padding-right: 85px;
                a {
                    font-size: 36px;
                    color: $black;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        @media all and (max-width: $sm-max) {
            transform: translateY(-70%);
            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                li {
                    padding: 1em 0;
                    a {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}