/* Mobile menu */

.overlay-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  z-index: 49;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity $normal-transition, visibility $normal-transition;
  &.appear {
    opacity: 1;
    visibility: visible;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  background: #FFF;
  height: 75vh;
  z-index: 50;
  left: 0;
  top: -75vh;
  opacity: 0;
  visibility: visible;
  transition: opacity .25s ease-in-out, top .25s ease-in-out, visibility .25s ease-in-out;
  overflow: scroll;
  @media all and (max-height: 750px) {
    height: 100vh;
  }

  &.appear {
    opacity: 1;
    visibility: visible;
    top: 0vh;
    transition: opacity .5s ease-in-out, top .5s ease-in-out, visibility .5s ease-in-out;
  }

  .container {
    padding-top: 150px;
    @media all and (max-height: 880px) {
      padding-top: 100px;
    }
    @media all and (max-height: 800px) and (max-width: 785px) {
      padding-top: 150px;
    }
  }

  nav {
    width: auto;
    margin-left: 16%;
    margin-right: 16%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 100px;
    height: 60%;
    max-height: 365px;
    @media all and (max-width: 1275px) {
      margin-left: 11%;
      margin-right: 11%;
    }
    @media all and (max-width: 785px) {
      padding-top: 0;
      margin: 0;
      display: block;
      height: auto;
      &:before {
        display: none;
      }
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    ul {
      li {

      }
    }
    &.content-contact {
      @media all and (max-width: 785px) {
        display: none;
      }
      img {
        width: 120px;
        display: inline-block;
        vertical-align: top;
        margin-top: -145px;
      }
      ul {
        li {
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: 18px;
            color: $black;
          }
        }
      }
      .contact {
        position: absolute;
        bottom: 0;
        ul {
          li {
            display: inline-block;
            padding-right: 25px;
            padding-bottom: 0;
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
    &.content-menu {
      &::before {
        content: '—Menu';
        position: absolute;
        top: 0;
        left: 0;
        color: $gray-light;
      }
      ul {
        li {
          padding-bottom: 35px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: 32px;
            font-weight: 100;
          }
        }
      }
      @media all and (max-width: 785px) {
        ul {
          li {
            padding-bottom: 24px;
            a {
              font-size: 24px;
            }
          }
        }
      }
    }
    &.content-language {
      &::before {
        content: '—Language';
        position: absolute;
        top: 0;
        left: 0;
        color: $gray-light;
        width: 130%;
      }
      ul {
        li {
          padding-bottom: 40px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: 18px;
            color: $black;
            span {
              transition: opacity $normal-transition;
              cursor: pointer;
            }
            &:hover {
              span {
                opacity: 0;
              }
              &:before {
                opacity: 1;
              }
            }
            &:before {
              position: absolute;
              opacity: 0;

              transition: opacity $normal-transition;
            }
            &.lang-english {
              &:before {
                content: 'English';
              }
            }
            &.lang-spanish {
              &:before {
                content: 'Español';
              }
            }
            &.lang-arabic {
              &:before {
                content: 'العربية';
              }
            }
            &.lang-chinese {
              &:before {
                content: '中国';
              }
            }
          }
        }
      }
      @media all and (max-width: 785px) {
        ul {
          margin-top: 24px;
          li {
            padding-bottom: 24px;
            &:last-child {
              padding-bottom: 24px;
            }
          }
        }
      }
    }
  }
}

.menu-navigation {
  transition: transform 1s;
  position: fixed;
  bottom: 130px;
  right: 60px;
  color: #FFF;
  z-index: 50;
  transform: translateX(-200%);
  transform: translateX(0);
  &.inverse {
    color: $black;
    ul {
      li {
        &:hover {
          a {
            color: $black;
          }
          &::before {
            background: $black;
          }
        }
        a {
          color: $black!important;
        }
        &::before {
          background: $black!important;
        }
      }
    }
  }
  ul {
  padding: 0 0 0 30px;
  li {
    display: block;
    padding: 0;
    line-height: 10px;
    position: relative;
    transition: all .3s ease-in-out;
    text-align: right;
    &:hover {
      a {
        color: #FFF;
        opacity: 1;
      }
      &::before {
        background: #FFF;
        opacity: 1;
      }
    }
    &.active {
      line-height: 30px;
      a {
        opacity: 1;
        color: #FFF;
      }
      &::before {
        background: #FFF;
        opacity: 1;
        width: 75px;
        right: -90px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 25px;
      height: 1px;
      background: $gray;
      top: 50%;
      transform: translateY(-50%);
      right: -50px;
      opacity: .7;
      transition: all .3s ease-in-out;
    }
    a {
      color: $gray;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      transition: all .3s ease-in-out;
      opacity: 0;
    }
  }
}

}
