.section-bg.people {
  background: url('../images/people/people-bg1.jpg')!important;
  background-size: cover!important;
  background-position: center!important;
}

#values {
  padding-bottom: 600px!important;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    filter: grayscale(100%);
    &.values-1 {
      left: -20%;
      top: 60%;
    }
    &.values-2 {
      right: -20%;
      top: 20%;
    }
    &.values-3 {
      right: -10%;
      top: 70%;
    }
  }
  h3 {
    padding-bottom: 250px;
  }
  .values-list {
    .values-unit {
      float: left;
      display: inline-block;
      margin-top: 180px;
      position: relative;
      width: 40%;
      max-width: 350px;
      &::before {
        position: absolute;
        font-size: 144px;
        font-weight: 600;
        top: -50%;
        left: -10%;
        opacity: .05;
      }
      h5 {
        font-size: 32px;
        font-weight: 600;
        z-index: 10;
        position: relative;
      }
      p {
        max-width: 400px;
        color: #B9B9B9;
        padding-top: 50px;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: .8px;
        z-index: 10;
        position: relative;
      }
      &.community {
        &::before {
          content: '1'
        }
      }
      &.freedom {
        margin-left: 80px;
        &::before {
          content: '2'
        }
      }
      &.competence {
        &::before {
          content: '3'
        }
      }
      &.citizenship {
        margin-left: 80px;
        &::before {
          content: '4'
        }
      }
      &.professionalism {
        margin-left: 80px;
        &::before {
          content: '5'
        }
      }
      ;
      @media all and (max-width: 780px) {
        float: none;
        display: block;
        margin: 180px auto 0 auto;
        position: relative;
        width: 90%;
        max-width: 410px;
        &.professionalism {
          margin-left: 0px;
        }
      }
      @media all and (max-width: 400px) {
        float: none;
        display: block;
        margin-top: 90px;
        margin-left: 0!important;
        position: relative;
        width: 90%;
        max-width: 410px;
        &::before {
          top: -25%;
        }
      }
    }
  }
  @media all and (max-width: 1500px) {
    img {
      &.values-1 {
        left: -30%;
      }
      &.values-2 {
        right: -30%;
      }
      &.values-3 {
        right: -18%;
      }
    }
  }
  @media all and (max-width: 1250px) {
    img {
      &.values-1 {
        left: -30%;
      }
      &.values-2 {
        right: -50%;
      }
      &.values-3 {
        right: -20%;
        top: 80%;
      }
    }
  }
  @media all and (max-width: 1120px) {
    img {
      &.values-1 {
        left: -45%;
        top: 65%;
      }
      &.values-2 {
        right: -50%;
      }
      &.values-3 {
        right: -20%;
        top: 80%;
      }
    }
  }
  @media all and (max-width: 1000px) {
    img {
      &.values-1 {
        left: -60%;
        top: 65%;
      }
      &.values-2 {
        display: none;
      }
      &.values-3 {
        right: -50%;
        top: 82%;
      }
    }
  }
  @media all and (max-width: 780px) {
    img {
      display: none;
    }
  }
}

#people {
  // .people-bio-container {
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   top: 0;
  //   left: 0;
  //   background: transparent;
  //   z-index: 50;
  //   display: none;
  //   .navigation-mobile {
  //     display: block;
  //     bottom: auto;
  //     z-index: 20;
  //     top: 40px;
  //     right: 40px;
  //     .bar.animate {
  //       background: rgba(255, 255, 255, 0)!important;
  //     }
  //     .bar, .bar::before, .bar::after {
  //       background: $black;
  //     }
  //   }
  //   .people-picture {
  //     position: absolute;
  //     background-size: cover!important;
  //     width: 40%;
  //     height: 100%;
  //     top: 0;
  //     left: -10%;
  //     opacity: 0;
  //   }
  //   .people-bio {
  //     position: absolute;
  //     padding: 150px;
  //     width: calc(60% - 300px);
  //     height: calc(100% - 300px);
  //     background: #FFF;
  //     top: 0;
  //     right: -10%;
  //     opacity: 0;
  //   }
  //   &.show {
  //     display: block;
  //     .people-picture {
  //       animation-name: people-picture;
  //       animation-duration: .7s;
  //       animation-fill-mode: forwards;
  //       animation-timing-function: ease-in-out;
  //       @keyframes people-picture {
  //         0% {
  //           left: -10%;
  //           opacity: 0;
  //         }
  //         100% {
  //           left: 0%;
  //           opacity: 1;
  //         }
  //       }
  //     }
  //     .people-bio {
  //       animation-name: people-bio;
  //       animation-duration: .7s;
  //       animation-fill-mode: forwards;
  //       animation-timing-function: ease-in-out;
  //       @keyframes people-bio {
  //         0% {
  //           right: -10%;
  //           opacity: 0;
  //         }
  //         100% {
  //           right: 0%;
  //           opacity: 1;
  //         }
  //       }
  //     }
  //   }
  // }
  h3 {
    padding-top: 160px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1080px;
    padding-top: 120px;
    @media screen and (max-width: 810px) {
      justify-content: space-around;
    }
    li {
      width: 290px;
      height: 360px;
      margin: 1.7em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0; // safari fix
        left: 0; // safari fix
      }
      &>div {
        text-align: center;
        transition: all 0.3s;
        position: absolute;
        width: 230px;
        height: 300px;
        background-color: rgba(256, 256, 256, .95);
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        padding: 1em;
        z-index: 1;
        top: 14px; // safari fix
        left: 14px; // safari fix
        h4 {
          font-size: 24px;
          font-weight: 600;
          padding: 0;
        }
        .people-title {
          margin: -9em 0 -5em;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
      .link {
        font-size: 10px;
      }
      &:hover {
        &>div {
          opacity: 1;
        }
      }
      &.people-join {
        width: calc( (290px * 2) + ((100% - 120px - ((300px - 2em) * 3)) / 2));
        background-color: $gray-lighter;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        @media screen and (max-width: 1287px) {
          width: 290px;
        }
        p {
          font-size: 32px;
          line-height: 42px;
          font-weight: 600;
          max-width: 500px;
          letter-spacing: 1.5px;
          margin-bottom: 1em;
        }
        .link {
          background-color: transparent;
          font-size: 14px;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}
