/* Home > People */

#people-claim {
    padding: 0;
    .people-description {
        display: inline-block;
        width: 35%;
        padding: 150px 10%;
        h2 {
            max-width: 512px;
            &::after {
                left: 0;
            }
        }
        p {
            max-width: 520px;
            font-size: 20px;
            line-height: 32px;
            color: $gray-dark;
            font-weight: 300;
            padding-top: 50px;
            margin-bottom: 75px;
        }
    }
    .people-pictures {
        position: absolute;
        display: inline-block;
        width: 45%;
        background: transparent;
        height: 100%;
        right: 0;
        top: 0;
        .people-pictures-unit {
            position: absolute;
            width: 100%;
            height: 50%;
            background-size: cover;
            filter: grayscale(100%);
            transition: all .3s ease-in-out;
            &:hover {
                filter: grayscale(0%);
            }
            &:first-child {
                top: 0;
                background-image: url('../images/about-1.png');
            }
            &:last-child {
                bottom: 0;
                background-image: url('../images/about-2.jpg');
            }
        }
    }
    @media all and (max-width: $xs-max) {
        display: flex;
        flex-direction: column;
        .people-description {
            width: 90%;
            padding: 2em 1em;
            h2 {
                font-size: 45px;
            }
            p {
                font-size: 18px;
            }
        }
        .people-pictures {
            width: 100%;
            position: relative;
            .people-pictures-unit {
                position: relative;
                height: 50vh;
            }
        }
    }
}

#people {
    background-color: $white;
    height: 100%;
    position: relative;
    z-index: 2;
    .people-content {
        position: relative;
        top: -5em;
    }
    h2 {
        text-align: center;
        margin-bottom: 150px;
        &::before {
            content: 'Behind the screens';
        }
        &::after {
            display: none;
        }
    }
    .people-list {
        display: flex;
        justify-content: space-around;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        &:last-of-type {
            margin-top: 3em;
        }
        .people-bio {
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background: #FFF;
            overflow: hidden;
            padding: 0;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.3s;
            &.out {
                animation-name: people-bio-out;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-delay: .5s;
                @keyframes people-bio-out {
                    0% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
            &.show {
                opacity: 1;
                z-index: 15;
                display: block;
                .bio-image {
                    display: block;
                    @media all and (max-width: $xs-max) {
                        display: none;
                    }
                    &::before {
                        display: block;
                    }
                }
                .bio-content {
                    display: block;
                    @media all and (max-width: $xs-max) {
                        transform: none;
                        float: none;
                        top: 20%;
                        width: 90vw;
                        margin: 0 auto;
                        right: 0;
                        left: 0;
                    }
                }
            }
            &.bio-anthanh {
                .bio-image {
                    background: url('../images/people/anthanh-bio.jpg');
                    background-size: cover;
                    background-position: 45%;
                }
            }
            &.bio-hayder {
                .bio-image {
                    background: url('../images/people/hayder-bio.jpg');
                    background-size: cover;
                    background-position: 65% 70%;
                }
            }
            &.bio-huibert {
                .bio-image {
                    background: url('../images/people/huibert-bio.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
            &.bio-ruben {
                .bio-image {
                    background: url('../images/people/ruben-bio.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
            &.bio-daniel {
                .bio-image {
                    background: url('../images/people/daniel-bio.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
            &.bio-ismael {
                .bio-image {
                    background: url('../images/people/ismael-bio.jpg');
                    background-size: cover;
                    background-position: center;
                }
            }
            .bio-image {
                width: 36vw;
                height: 100%;
                background: $black;
                position: relative;
                left: -36vw;
                animation-name: bio-image;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-delay: 0s;
                display: none;
                &.out {
                    animation-name: bio-image-out;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    animation-delay: 0s;
                    @keyframes bio-image-out {
                        0% {
                            left: 0;
                            opacity: 1;
                        }
                        100% {
                            left: -20vw;
                            opacity: 0;
                        }
                    }
                }
                @keyframes bio-image {
                    0% {
                        left: -20vw;
                        opacity: 0;
                    }
                    100% {
                        left: 0;
                        opacity: 1;
                    }
                }
                &::before {
                    display: none;
                    content: '';
                    height: 100%;
                    width: 100%;
                    opacity: .8;
                    background: $black;
                    position: absolute;
                    animation-name: bio-image-cover;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    animation-delay: 1s;
                    left: 0;
                    @keyframes bio-image-cover {
                        0% {
                            opacity: .8;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
            }
            .bio-content {
                display: inline-block;
                height: auto;
                right: -40vw;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                float: right;
                width: 40vw;
                text-align: left;
                margin: 0 15vw 0 0vw;
                animation-name: bio-content;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-delay: 0s;
                display: none;
                &.out {
                    animation-name: bio-content-out;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    animation-delay: 0s;
                    @keyframes bio-content-out {
                        0% {
                            right: 0;
                            opacity: 1;
                        }
                        100% {
                            right: -10vw;
                            opacity: 0;
                        }
                    }
                }
                @keyframes bio-content {
                    0% {
                        right: -10vw;
                        opacity: 0;
                    }
                    100% {
                        right: 0;
                        opacity: 1;
                    }
                }
                h3 {
                  font-family: 'Mark', Helvetica, Arial, sans-serif;
                  font-weight: 500;
                  font-size: 42px;
                }
                p {
                    color: $black;
                    line-height: 1.6;
                    font-size: 20px;
                    max-width: 700px;
                    margin-bottom: 50px;
                    &.people-title {
                        text-transform: uppercase;
                        color: #ddd;
                    }
                    @media all and (max-width: $xs-max) {
                        font-size: 3vw;
                    }
                }
                a {
                  color: $black;
                  font-size: 20px;
                  margin-right: 10px;
                }
            }
            .bio-next {
                position: absolute;
                right: 3vw;
                bottom: 3vw;
                border: none;
                img {
                    transform: rotate(180deg);
                }
            }
        }
        &>div {
            width: 40%;
            padding: 0 4.3%;
            position: relative;
            text-align: center;
            &:hover {
                .people-bio-splash {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%) translateY(-50%) scale(1);
                }
            }
            .people-bio-splash {
                position: absolute;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) scale(.95);
                top: 50%;
                width: calc(100% - 35%);
                height: calc(100% - 10%);
                background: rgba(256, 256, 256, .95);
                margin: -4px 0 0 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                .content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    width: 80%;
                    text-align: center;
                    h3 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 12px;
                    }
                    a {
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
            h3 {
                margin-bottom: 0;
            }
            img {
                width: 100%;
                max-width: 300px;
            }
            .people-title {
                margin: .5em 0 2em 0;
            }
            a {
                border: 2px solid #ddd;
                padding: 15px 25px;
                margin-top: 0px;
                display: inline-block;
                position: relative;
                transition: all 0.3s;
                &:hover {
                    background: #ddd;
                }
                img {
                    width: 15px;
                    padding: 0 5px 1px 0;
                    display: inline-block;
                    vertical-align: middle;
                    transform: rotate(180deg);
                }
            }
        }
        @media all and (max-width: $xs-max) {
            display: initial;
            &>div {
                width: 70%;
                margin: 0 auto;
                margin-bottom: 5vh;
            }
        }
    }
}
