/* Home > Services */

#services {
    text-align: center;
    h2 {
        margin-bottom: 150px;
        &::before {
            content: 'Things we madly love doing';
        }
        &::after {
            display: none;
        }
    }
    a {
        margin-top: 150px;
    }
    @media all and (max-width: $xs-max) {
        .services-list {
            display: flex;
            flex-direction: column;
            .services-list-unit {
                width: 100%;
                padding-right: 0;
                text-align: center;
                h3 {
                    &::after {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        a {
            margin-top: 0;
        }
    }
    .services-list-unit {
        display: inline-block;
        width: calc(33% - 150px);
        text-align: left;
        padding-right: 150px;
        position: relative;
        vertical-align: top;
        &:last-of-type {
            padding-right: 0;
            &::after {
                display: none;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 75px;
            top: 50%;
            transform: translateY(-50%);
            background: #272727;
            height: 75%;
            width: 1px;
            @media all and (max-width: $xs-max) {
                display: none;
            }
        }
        .services-list-unit-number {
            font-size: 26px;
            font-weight: 600;
            position: relative;
            text-align: center;
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: 0;
            padding: 0;
            &::before {
                content: '';
                position: absolute;
                width: 100px;
                height: 100px;
                background: url('../images/hexagon.svg');
                top: 0;
                left: 0;
                animation-name: hexagon;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
                animation-timing-function: linear;
                animation-delay: 0s;
                @keyframes hexagon {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        @media all and (max-width: $xs-max) {
            margin-bottom: 5em;
            .services-list-unit-number {
                margin: 0 auto;
            }
        }
        h3 {
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 0;
            font-family: 'Mark', Helvetica, Arial, sans-serif;
            position: relative;
            margin-top: 10px;
            &::after {
                content: '';
                position: absolute;
                width: 80px;
                height: 2px;
                background: $red;
                bottom: -30px;
                left: 0;
            }
        }
        p {
            font-size: 20px;
            font-weight: 300;
            line-height: 32px;
            color: $gray-dark;
            padding-top: 25px;
        }
    }
    img {
      mix-blend-mode: difference;
      position: absolute;
      bottom: -15px;
      z-index: 99999;
      transform: rotate(-34deg) translateX(-50%);
      left:50%;
      width: 100px;
    }
}
