#why {
  padding-bottom: 450px;
  h2 {
    text-align: center;
    margin-bottom: 250px;
    &::after {
      display: none;
    }
    &::before {
      content: 'Inside the house';
    }
  }
  .how-to-circular-outter {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: relative;
    border: 1px solid $gray-dark;
    margin: 0 auto;
    .how-to-description {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      width: 100%;
      max-width: 260px;
      display: none;
      &.active {
        display: block;
      }
      h3 {
        animation-name: how-to-description-title;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        opacity: 0;
        position: relative;
        &::after {
          content: '';
          width: 35px;
          height: 1px;
          background: $red;
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
        }
        @keyframes how-to-description-title {
          0% {
            margin-top: 50px;
            opacity: 0;
          }
          100% {
            margin-top: 110px;
            opacity: 1;
          }
        }
      }
      p {
        animation-name: how-to-description-text;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        opacity: 0;
        line-height: 1.5;
        @keyframes how-to-description-text {
          0% {
            margin-top: 10px;
            opacity: 0;
          }
          100% {
            margin-top: 0px;
            opacity: 1;
          }
        }
      }
    }
    .how-to-unit {
      width: 120px;
      height: 134px;
      position: absolute;
      animation-name: circular-image;
      animation-duration: 15s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
      left: 0;
      top: 0;
      opacity: 0;
      margin-top: 200px;
      margin-left: 225px;
      background: url('');
      transition: all .5s ease-in-out;
      z-index: 20;
      cursor: pointer;
      &.moving {
        animation-name: circular-image;
      }
      &.active {
        animation-name: circular-image-selected;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-play-state: running;
        animation-iteration-count: 1;
        opacity: 0;
        animation-delay: 0s!important;
        &::after {
          opacity: 0;
        }
        @keyframes circular-image-selected {
          0% {
            opacity: 0;
          }
          25% {
            opacity: 1;
            left: -10px;
            top: -10px;
          }
          50% {
            opacity: 1;
            left: -10px;
            top: -10px;
          }
          60% {
            opacity: 1;
            left: -10px;
            top: -10px;
            transform: scale(1);
          }
          100% {
            opacity: 1;
            left: -10px;
            top: -75px;
            transform: scale(.85);
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        /*bottom: -25px;*/
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        max-width: 120px;
        overflow: hidden;
        text-align: center;
        text-shadow: 0px 5px 25px rgba(23, 26, 28, 1);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 12px;
        transition: all .5s ease-in-out;
      }
      &.how-to-community {
        background: url('/images/icons/community-white.svg');
        &::after {
          content: 'Community';
        }
      }
      &.how-to-freedom {
        background: url('/images/icons/freedom-white.svg');
        &::after {
          content: 'Freedom';
        }
      }
      &.how-to-competence {
        background: url('/images/icons/competence-white.svg');
        &::after {
          content: 'Competence';
        }
      }
      &.how-to-citizenship {
        background: url('/images/icons/citizenship-white.svg');
        &::after {
          content: 'Citizenship';
        }
      }
      &.how-to-expertise {
        background: url('/images/icons/professionalism-white.svg');
        &::after {
          content: 'Expertise';
        }
      }
      &.how-to-1 {
        animation-delay: 0s;
        &.moving-after {
          animation-delay: 0s!important;
        }
      }
      &.how-to-2 {
        animation-delay: 3s;
        &.moving-after {
          animation-delay: 3.75s!important;
        }
      }
      &.how-to-3 {
        animation-delay: 6s;
        &.moving-after {
          animation-delay: 7.5s!important;
        }
      }
      &.how-to-4 {
        animation-delay: 9s;
        &.moving-after {
          animation-delay: 11.25s!important;
        }
      }
      &.how-to-5 {
        animation-delay: 12s;
        &.moving-after {
          animation-delay: 15s!important;
        }
      }
      @keyframes circular-image {
        0% {
          opacity: 1;
          transform: rotate(0deg) translate(-275px) rotate(0deg);
        }
        100% {
          opacity: 1;
          transform: rotate(360deg) translate(-275px) rotate(-360deg);
        }
      }
    }
    .how-to-cta {
      position: absolute;
      width: 550px;
      border-radius: 50%;
      transform: rotate(-50deg);
      left: 25px;
      top: -105px;
      .how-to-cta-container {
        animation-name: how-to-cta-container;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform-origin: center bottom;
        @keyframes how-to-cta-container {
          0% {}
          100% {}
        }
      }
      h3 {
        left: 50%;
      }
      span {
        position: absolute;
        transform-origin: bottom center;
        width: 20px;
        height: 200px;
        left: 0;
        top: 0;
        &:nth-of-type(1) {
          transform: rotate(6deg);
        }
        &:nth-of-type(2) {
          transform: rotate(12deg);
        }
        &:nth-of-type(3) {
          transform: rotate(18deg);
        }
        &:nth-of-type(4) {
          transform: rotate(24deg);
        }
        &:nth-of-type(5) {
          transform: rotate(30deg);
        }
        &:nth-of-type(6) {
          transform: rotate(36deg);
        }
        &:nth-of-type(7) {
          transform: rotate(42deg);
        }
        &:nth-of-type(8) {
          transform: rotate(48deg);
        }
        &:nth-of-type(9) {
          transform: rotate(54deg);
        }
        &:nth-of-type(10) {
          transform: rotate(60deg);
        }
        &:nth-of-type(11) {
          transform: rotate(66deg);
        }
        &:nth-of-type(12) {
          transform: rotate(72deg);
        }
        &:nth-of-type(13) {
          transform: rotate(78deg);
        }
        &:nth-of-type(14) {
          transform: rotate(84deg);
        }
        &:nth-of-type(15) {
          transform: rotate(90deg);
        }
        &:nth-of-type(16) {
          transform: rotate(96deg);
        }
      }
    }
    .how-to-circular-inner-1 {
      position: absolute;
      width: 350px;
      height: 350px;
      border: 2px dashed $gray-dark;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-name: circular-inner-1;
      animation-duration: 12s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      @keyframes circular-inner-1 {
        0% {
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        100% {
          transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
      }
    }
    .how-to-circular-inner-2 {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 2px dashed $gray-dark;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-name: circular-inner-2;
      animation-duration: 12s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-iteration-count: infinite;
      @keyframes circular-inner-2 {
        0% {
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        100% {
          transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
      }
    }
    .how-to-circular-inner-3 {
      position: absolute;
      width: 100px;
      height: 100px;
      border: 2px dashed $red;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-name: circular-inner-3;
      animation-duration: 12s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: running;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      @keyframes circular-inner-3 {
        0% {
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        100% {
          transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
      }
    }
  }
}
