<section id="blog-news" class="bg-gray">
    <div class="container">
        <h2 class="reveal">Latest from Blog</h2>
        <div class="blog-news-unit">
            <div class="blog-news-unit-image"></div>
            <h4>How to validate your business idea through outgoing decisions.</h4>
            <h5>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis.</h5>
            <a href="#" class="button reveal">Read post</a>
        </div>
        <div class="blog-news-unit">
            <div class="blog-news-unit-image"></div>
            <h4>How to validate your business idea through outgoing decisions.</h4>
            <h5>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis.</h5>
            <a href="#" class="button reveal">Read post</a>
        </div>
        <div class="blog-news-unit">
            <div class="blog-news-unit-image"></div>
            <h4>How to validate your business idea through outgoing decisions.</h4>
            <h5>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis.</h5>
            <a href="#" class="button reveal">Read post</a>
        </div>
        <a href="//blog.etereo.io" target="_blank" class="button reveal">View all posts</a>
    </div>
</section>