<section id="contact-us" class="bg-white">
  <div class="container">
    <a href="#contact-us" class="scroll-anchor"></a>
    <h2>Contact Us</h2>
    <div class="contact-us-unit">
      <a href="mailto:hello@etereo.io">hello@etereo.io</a>
    </div>
    <div class="contact-us-unit">
      <a href="http://twitter.com/etereoio" target="_blank">@etereoio</a>
    </div>
    <div class="contact-us-unit">
      <a href="tel:+34659325922">+34 659 325 922</a>
    </div>
    <a href="#join-us" class="link-small">Make the leap</a>
  </div>
</section>
