<section id="contact-us" class="bg-white">
    <div class="container">
        <h2>Contact Us</h2>
        <div class="contact-us-unit">
            <a href="mailto:hello@etereo.io">hello@etereo.io</a>
        </div>
        <div class="contact-us-unit">
            <a href="http://twitter.com/etereoio" target="_blank">@etereoio</a>
        </div>
        <div class="contact-us-unit">
            <a href="tel:+34659325922">+34 659 325 922</a>
        </div>
        <a href="#join-us" class="link-small">Become an etéreotype</a>
    </div>
</section>