<header>
  <a href="/" class="link">
    <h1>etéreo</h1>
  </a>

  <nav class="navigation">
    <ul>
      <li><a href="/company" class="link" data-locale="nav.company">company</a></li>
      <li><a href="/people" class="link" data-locale="nav.people">people</a></li>
      <li><a href="/contact" class="link" data-locale="nav.contact">contact</a></li>
      <li><a href="/blog" class="link" data-locale="nav.blog">blog</a></li>
    </ul>
  </nav>
  <div class="navigation-mobile">
    <div class="bar"></div>
  </div>
</header>
