<section id="how-to" class="bg-gray">
    <div class="container">
        <h2 class="reveal">How we do it</h2>
        <div class="how-to-unit">
            <img src="images/competence.svg" alt="Community" class="how-to-unit-image">

            <h3>Community</h3>
            <p>We like to hang out with people who share our values and goals.</p>
        </div>
        <div class="how-to-unit">
            <img src="images/competence.svg" alt="Freedom" class="how-to-unit-image">
            <h3>Freedom</h3>
            <p>We like to hang out with people who share our values and goals.</p>
        </div>
        <div class="how-to-unit">
            <img src="images/competence.svg" alt="Competence" class="how-to-unit-image">
            <h3>Competence</h3>
            <p>We like to hang out with people who share our values and goals.</p>
        </div>
        <div class="how-to-unit">
            <img src="images/competence.svg" alt="Good Citizenship" class="how-to-unit-image">
            <h3>Good Citizenship</h3>
            <p>We like to hang out with people who share our values and goals.</p>
        </div>
        <div class="how-to-unit">
            <img src="images/competence.svg" alt="Professionalism" class="how-to-unit-image">
            <h3>Professionalism</h3>
            <p>We like to hang out with people who share our values and goals.</p>
        </div>
        <div class="how-to-unit">
            <img src="images/competence.svg" alt="Good Citizenship" class="how-to-unit-image">
            <h3>Good Citizenship</h3>
            <p>We like to hang out with people who share our values and goals.</p>
        </div>
        <a href="#" class="button reveal">Our Methodology</a>
    </div>
</section>