<section id="how-to" class="bg-gray">
  <div class="container">
    <a href="#how-to" class="scroll-anchor"></a>
    <h2 class="reveal">How we do it</h2>
    <div class="how-to-unit">
      <img src="images/icons/competence.svg" alt="Community" class="how-to-unit-image">
      <div class="how-to-description">
        <h3>Community</h3>
        <p>We like to hang out with people who share our values and goals.</p>
      </div>
    </div>
    <div class="how-to-unit">
      <img src="images/icons/competence.svg" alt="Freedom" class="how-to-unit-image">
      <div class="how-to-description">
        <h3>Freedom</h3>
        <p>We like to hang out with people who share our values and goals.</p>
      </div>
    </div>
    <div class="how-to-unit">
      <img src="images/icons/competence.svg" alt="Competence" class="how-to-unit-image">
      <div class="how-to-description">
        <h3>Competence</h3>
        <p>We like to hang out with people who share our values and goals.</p>
      </div>
    </div>
    <div class="how-to-unit">
      <img src="images/icons/competence.svg" alt="Good Citizenship" class="how-to-unit-image">
      <div class="how-to-description">
        <h3>Good Citizenship</h3>
        <p>We like to hang out with people who share our values and goals.</p>
      </div>
    </div>
    <div class="how-to-unit">
      <img src="images/icons/competence.svg" alt="Professionalism" class="how-to-unit-image">
      <div class="how-to-description">
        <h3>Professionalism</h3>
        <p>We like to hang out with people who share our values and goals.</p>
      </div>
    </div>
    <div class="how-to-unit">
      <img src="images/icons/competence.svg" alt="Good Citizenship" class="how-to-unit-image">
      <div class="how-to-description">
        <h3>Good Citizenship</h3>
        <p>We like to hang out with people who share our values and goals.</p>
      </div>
    </div>
  </div>
</section>
