<section id="how-we-are" class="bg-white">
  <div class="container">
    <a href="#how-we-are" class="scroll-anchor"></a>
    <h2>How we are</h2>
    <div class="etereotypes-list">
      <div class="etereotypes-list-unit">
        <div class="etereotypes-list-unit-number">01</div>
        <h3>Self-Confident</h3>
        <p>We know that we are highly skilled and in high demand.</p>
      </div>
      <div class="etereotypes-list-unit">
        <div class="etereotypes-list-unit-number">02</div>
        <h3>Adventurous</h3>
        <p>A few months without an assignment isn’t the end of the world, it’s an opportunity to play around and learn new stuff!</p>
      </div>
      <div class="etereotypes-list-unit">
        <div class="etereotypes-list-unit-number">03</div>
        <h3>Social</h3>
        <p>We like to maintain a strong network and collaborate with people. Some of us are introverts, but still kind of social :o)</p>
      </div>
    </div>
    <div class="etereotypes-list">
      <div class="etereotypes-list-unit reveal">
        <div class="etereotypes-list-unit-number">04</div>
        <h3>Curious</h3>
        <p>We want to learn new things, every day. Love geeking out on new technologies, processes, etc.</p>
      </div>
      <div class="etereotypes-list-unit reveal">
        <div class="etereotypes-list-unit-number">05</div>
        <h3>Generous</h3>
        <p>We like to share what we learn, not primarily for profit but because it’s fun and rewarding in itself.</p>
      </div>
      <div class="etereotypes-list-unit reveal">
        <div class="etereotypes-list-unit-number">06</div>
        <h3>Responsible</h3>
        <p>We’re used to taking responsibility for our own goals and actions, and don’t wait for others to tell us what to do or solve our problems.</p>
      </div>
    </div>
  </div>
</section>

<!--<section id="what-not" class="bg-black">
  <div class="container">
    <a href="#what-not" class="scroll-anchor"></a>
    <div class="etereotypes-cons">
      <h2 class="reveal">What we are not</h2>
      <p class="reveal">People who want stability don’t fit at etereo. You won’t have stable working hours and a fixed desk. You won’t even get a fixed salary - in fact, it’s the other way around - you pay a fee (but keep most of what you earn). See the economic model. So when you don’t have a client, you bleed money every month! On the other hand, when you do have a client, you earn more than what any company would pay you in salary. So it’s up to you to buffer cash and manage risk.
        <br>
        <br>This kind of model obviously doesn’t fit everyone.</p>
    </div>
  </div>
</section>-->
