<div class="menu">
    <nav>
        <ul>
            <li><a class="menu-home" href="#">Home</a></li>
            <li><a class="menu-about" href="about.html">About Us</a></li>
            <li><a class="menu-join" href="#">Join Us</a></li>
            <li><a class="menu-contact" href="#">Contact</a></li>
            <li><a class="menu-blog" href="#">Blog</a></li>
        </ul>
    </nav>
    <h2 class="cover-home">Go to the beginning</h2>
    <h2 class="cover-about">Everything about etéreo</h2>
    <h2 class="cover-join">Show us your talent</h2>
    <h2 class="cover-contact">Let's work together</h2>
    <h2 class="cover-blog">Thoughts and ideas</h2>
    <footer>
        <div class="container">
            <div class="social-links">
                <a href="http://twitter.com/etereoio">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Contact</a>
            </div>
            <div class="copyright">
                <p>©Etéreo Experience, S.L. 2017</p>
            </div>
        </div>
    </footer>
</div>