<header>
    <div class="container">
        <h1>
            <a href="index.html">etéreo</a>
        </h1>
        <div class="menu-opener">
            <div class="menu-brick"></div>
            <div class="menu-brick middle"></div>
            <div class="menu-brick"></div>
        </div>
    </div>
</header>

<div class="menu">
    <nav>
        <ul>
            <li><a class="menu-home" href="index.html">Home</a></li>
            <li><a class="menu-about" href="about.html">About Us</a></li>
            <li><a class="menu-join" href="about.html#join-us">Join Us</a></li>
            <li><a class="menu-contact" href="index.html#join-us">Contact</a></li>
            <li><a class="menu-blog" href="//blog.etereo.io" target="_blank">Blog</a></li>
        </ul>
    </nav>
    <h2 class="cover cover-home">Go to the beginning</h2>
    <h2 class="cover cover-about">Everything about etéreo</h2>
    <h2 class="cover cover-join">Show us your talent</h2>
    <h2 class="cover cover-contact">Let's work together</h2>
    <h2 class="cover cover-blog">Thoughts and ideas</h2>
    <footer>
        <div class="container">
            <div class="social-links">
                <a href="http://twitter.com/etereoio" target="_blank">Twitter</a>
                <a href="//blog.etereo.io" target="blank">Blog</a>
                <a href="#">Contact</a>
            </div>
            <div class="copyright">
                <p>©etéreo Experience, S.L. 2017</p>
            </div>
        </div>
    </footer>
</div>