<title>etéreo | Independent Creative Studio</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0">

<!-- Standard html meta tags -->
<meta name="author" content="etereo-website">
<meta name="description" content="Independent Creative Studio">
<meta name="keywords" content="etereo, software, craftmanship, studio">
<meta name="application-name" content="etereo-website">
<meta name="copyright" content="etereo-website">

<!-- Dublin core -->
<meta name="DCTERMS.rightsHolder" content="etereo-website">
<meta name="DCTERMS.Title" content="Independent Creative Studio">
<meta name="DCTERMS.Creator" content="etereo-website">
<meta name="DCTERMS.Subject" content="etereo, software, craftmanship, studio">
<meta name="DCTERMS.Description" content="Independent Creative Studio">
<meta name="DCTERMS.Publisher" content="etereo-website">
<meta name="DCTERMS.Language" content="en">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="etereo-website">
<meta itemprop="description" content="etereo website">
<meta itemprop="url" content="http://etereo.io/">
<meta itemprop="image" content="images/icons/android-icon-192x192.png">
<meta itemprop="author" content="etereo-website">
<meta itemprop="datePublished" content="19-01-2017">
<meta itemprop="operatingSystems" content="Windows, Linux, Mac OS">
<meta itemprop="applicationCategory" content="etereo, software, craftmanship, studio">
<meta itemprop="softwareVersion" content="0.0.1">
<meta itemprop="browserRequirements" content="HTML5, Google Chrome, JavaScript">

<!-- Twitter Card data -->
<meta name="twitter:card" content="images/icons/android-icon-192x192.png">
<meta name="twitter:site" content="@etereo-website">
<meta name="twitter:creator" content="@etereo-website">
<meta name="twitter:title" content="etereo-website">
<meta name="twitter:description" content="Independent Creative Studio">
<!-- La imagen debe ser de menos de 1Mb, y como mínimo de 280x150 en el ejemplo de twitter usan una de 480 x 270 (para la summary card with large image)-->
<meta name="twitter:image:src" content="images/company/company-bg.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="etereo-website">
<meta property="og:type" content="website">
<meta property="og:url" content="http://etereo.io/">
<!-- La imagen debe estar a 1200 x 630 -->
<!-- <meta property="og:image" content="img/common/img_1200x630.png"> -->
<meta property="og:description" content="Independent Creative Studio">
<meta property="og:site_name" content="etereo-website">

<link rel="icon" type="image/png" href="images/favicon.png">
