<title>etéreo | An Independent Digital Agency</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0">
<meta name="google-site-verification" content="g5Le-1sp3V5vjmcXJscYmGyusuzZu1NGqvkuJ_rxkLU" />

<!-- Standard html meta tags -->
<meta name="author" content="Etéreo Experience S.L.">
<meta name="description" content="An Independent Digital Agency">
<meta name="keywords" content="etereo, software, craftmanship, studio">
<meta name="application-name" content="An Independent Digital Agency">
<meta name="copyright" content="Etéreo Experience S.L.">

<!-- Dublin core -->
<meta name="DCTERMS.rightsHolder" content="etereo-website">
<meta name="DCTERMS.Title" content="Etéreo">
<meta name="DCTERMS.Creator" content="Etéreo Experience S.L.">
<meta name="DCTERMS.Subject" content="etereo, software, craftmanship, studio">
<meta name="DCTERMS.Description" content="An Independent Digital Agency">
<meta name="DCTERMS.Publisher" content="etereo-website">
<meta name="DCTERMS.Language" content="en">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Etéreo">
<meta itemprop="description" content="An Independent Digital Agency">
<meta itemprop="url" content="http://etereo.io/">
<meta itemprop="image" content="https://etereo.io/images/icons/android-chrome-192x192.530c76b5.png">
<meta itemprop="author" content="Etéreo Experience S.L.">
<meta itemprop="datePublished" content="12-04-2017">
<meta itemprop="operatingSystems" content="Windows, Linux, Mac OS">
<meta itemprop="applicationCategory" content="etereo, software, craftmanship, studio">
<meta itemprop="softwareVersion" content="0.0.1">
<meta itemprop="browserRequirements" content="HTML5, Google Chrome, JavaScript">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@etereoio">
<meta name="twitter:title" content="Etéreo">
<meta name="twitter:description" content="An Independent Digital Agency">
<!-- La imagen debe ser de menos de 1Mb, y como mínimo de 280x150 en el ejemplo de twitter usan una de 480 x 270 (para la summary card with large image)-->
<meta name="twitter:image" content="https://etereo.io/images/icons/android-chrome-192x192.530c76b5.png">

<!-- Open Graph data -->
<meta property="og:title" content="Etéreo">
<meta property="og:type" content="website">
<meta property="og:url" content="http://etereo.io/">
<meta property="og:image:secure_url" content="https://etereo.io/images/company.102858a9.gif">
<!-- La imagen debe estar a 1200 x 630 -->
<!-- <meta property="og:image" content="img/common/img_1200x630.png"> -->
<meta property="og:description" content="An Independent Digital Agency">
<meta property="og:site_name" content="Etéreo">
<link rel="author" href="humans.txt">
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/images/icons/manifest.json">
<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#2e2e2e">
<link rel="shortcut icon" href="/images/icons/favicon.ico">
<meta name="msapplication-config" content="/images/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!--[if lte IE 10]>
  <meta http-equiv="refresh" content="0; url=http://outdatedbrowser.com/" />
<![endif]-->
