<div class="mobile-menu">
  <nav>
    <ul>
      <li class="menu-company">
        <a href="/company" class="link">
          <span data-locale="nav.company">company</span>
        </a>
      </li>
      <li class="menu-people">
        <a href="/people" class="link">
          <span data-locale="nav.people">people</span>
        </a>
      </li>
      <li class="menu-contact">
        <a href="/contact" class="link">
          <span data-locale="nav.contact">contact</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
