<section id="people">
    <div class="container">
        <h2>People of etéreo</h2>
        <div class="people-content">

            <div class="people-list">
                <div class="reveal people-bio-thumb">
                    <img src="images/people/hayder.jpg" alt="">
                    <div class="people-bio-splash">
                        <div class="content">
                            <h3>Hayder Al-Deen</h3>
                            <p class="people-title">THE INVETERATE DESIGNER</p>
                            <a class="bio-opener-hayder">View Profile <img src="images/arrow.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="people-bio bio-hayder">
                    <div class="bio-image"></div>
                    <div class="bio-content">
                        <h3>Hayder Al-Deen</h3>
                        <p class="people-title">The Inveterate Designer</p>
                        <p>
                            Hayder encapsulates all creative, strategy and product design efforts for etéreo. Hayder’s combination of design, usability and technology expertise makes etéreo’s solutions future-proof. Before founding etéreo, Hayder started his career in advertising,
                            working in agencies and technology studios, where he carried out all kinds of creative and tech projects. After a long period, he started his own path towards freelance, where he offered personalized services to large companies
                            in the advertising sector and was responsible for design and technology implementation at several startups.
                        </p>
                        <a href="https://linkedin.com/in/hayderaldeen" target="_blank">Linkedin</a>
                        <a href="mailto:hayder@etereo.io">Mail</a>
                    </div>
                    <!-- <a class="bio-next"><img src="images/squares.svg" /></a> -->
                </div>

                <div class="reveal people-bio-thumb">
                    <img src="images/people/anthanh.jpg" alt="">
                    <div class="people-bio-splash">
                        <div class="content">
                            <h3>Anthanh Pham</h3>
                            <p class="people-title">THE NINJA DEVELOPER</p>
                            <a class="bio-opener-anthanh">View Profile <img src="images/arrow.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="people-bio bio-anthanh">
                    <div class="bio-image"></div>
                    <div class="bio-content">
                        <h3>Anthanh Pham</h3>
                        <p class="people-title">The Ninja Developer</p>
                        <p>
                            Anthanh Pham is a polyvalent developer-leader with extensive managing and software development experience in high-growth startups and technology companies in addition to working as a teacher in web technologies. He also collaborates with a research group
                            at the University Rey Juan Carlos in Madrid while working on his doctoral thesis about metaheuristics. Before founding etéreo, Anthanh worked on several software projects that included both back-end and front-end technologies,
                            challenging himself persistently, with an open, methodical and self-sufficient mind.
                        </p>
                        <a href="https://linkedin.com/in/anthanh" target="_blank">Linkedin</a>
                        <a href="mailto:anthanh@etereo.io">Mail</a>
                    </div>
                    <!-- <a class="bio-next"><img src="images/squares.svg" /></a> -->
                </div>

                <div class="reveal people-bio-thumb">
                    <img src="images/people/ruben.jpg" alt="">
                    <div class="people-bio-splash">
                        <div class="content">
                            <h3>Rubén Carrasco</h3>
                            <p class="people-title">THE ALLROAD GUY</p>
                            <a class="bio-opener-ruben">View Profile <img src="images/arrow.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="people-bio bio-ruben">
                    <div class="bio-image"></div>
                    <div class="bio-content">
                        <h3>Rubén Carrasco</h3>
                        <p class="people-title">The Allroad Guy</p>
                        <p>
                            Rubén is a full-stack developer with extensive experience in software in high-growth startups and technology companies. He also collaborates with a research group at the University Rey Juan Carlos in Madrid while working on his doctoral thesis about metaheuristics.
                            Before founding etéreo, he's worked on multiple software projects as a back-end and front-end developer, including web and hybrid mobile apps. Rubén is a problem-solver always open to new challenges.
                        </p>
                        <a href="https://linkedin.com/in/rubencarrascofernandez" target="_blank">Linkedin</a>
                        <a href="mailto:ruben@etereo.io">Mail</a>
                    </div>
                    <!-- <a class="bio-next"><img src="images/squares.svg" /></a> -->
                </div>
            </div>

            <div class="people-list">
                <div class="reveal">
                    <img src="images/people/huibert.jpg" alt="">
                    <div class="people-bio-splash">
                        <div class="content">
                            <h3>Huibert Evekink</h3>
                            <p class="people-title">THE THINKING MIND</p>
                            <a class="bio-opener-huibert">View Profile <img src="images/arrow.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="people-bio bio-huibert">
                    <div class="bio-image"></div>
                    <div class="bio-content">
                        <h3>Huibert Evekink</h3>
                        <p class="people-title">The Thinking Mind</p>
                        <p>
                            Huibert Jan Evekink spent more than twenty years managing sales, marketing and human resources teams in multinational corporations in the Netherlands, Spain, England and the United States. He is the founder and CEO of Futureteaming and was responsible
                            for the successful “Engage” programme in Amadeus IT Group Spain, training people management to leaders and their teams. He is a recognised coach, speaker and university lecturer on branding, engagement and culture. Huibert
                            holds a master’s degree in Business Law from the University of Leiden in the Netherlands, and he recently completed the Executive Master in Consulting and Coaching for Change degree program at the INSEAD Business School in
                            Paris.
                        </p>
                        <a href="Linkedin">Linkedin</a>
                        <a href="mailto:hayder@etereo.io">Mail</a>
                    </div>
                    <!-- <a class="bio-next"><img src="images/squares.svg" /></a> -->
                </div>

                <div class="reveal">
                    <img src="images/people/daniel.jpg" alt="">
                    <div class="people-bio-splash">
                        <div class="content">
                            <h3>Daniel García</h3>
                            <p class="people-title">THE YOUNG PROMISE</p>
                            <a class="bio-opener-daniel">View Profile <img src="images/arrow.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="people-bio bio-daniel">
                    <div class="bio-image"></div>
                    <div class="bio-content">
                        <h3>Daniel García</h3>
                        <p class="people-title">The Young Promise</p>
                        <p>
                            Hayder encapsulates all creative, strategy and product design efforts for etéreo. Hayder’s combination of design, usability and technology expertise makes etéreo’s solutions future-proof. Before founding etéreo, Hayder started his career in advertising,
                            working in agencies and technology studios, where he carried out all kinds of creative and tech projects. After a long period, he started his own path towards freelance, where he offered personalized services to large companies
                            in the advertising sector and was responsible for design and technology implementation at several startups.
                        </p>
                        <a href="Linkedin">Linkedin</a>
                        <a href="mailto:hayder@etereo.io">Mail</a>
                    </div>
                    <!-- <a class="bio-next"><img src="images/squares.svg" /></a> -->
                </div>

                <div class="reveal">
                    <img src="images/people/ismael.jpg" alt="">
                    <div class="people-bio-splash">
                        <div class="content">
                            <h3>Ismael Madirolas</h3>
                            <p class="people-title">THE DATA CRAFTSMAN</p>
                            <a class="bio-opener-ismael">View Profile <img src="images/arrow.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="people-bio bio-ismael">
                    <div class="bio-image"></div>
                    <div class="bio-content">
                        <h3>Ismael Madirolas</h3>
                        <p class="people-title">The Data Craftsman</p>
                        <p>
                            Anthanh Pham is a polyvalent developer-leader with extensive managing and software development experience in high-growth startups and technology companies in addition to working as a teacher in web technologies. He also collaborates with a research group
                            at the University Rey Juan Carlos in Madrid while working on his doctoral thesis about metaheuristics. Before founding etéreo, Anthanh worked on several software projects that included both back-end and front-end technologies,
                            challenging himself persistently, with an open, methodical and self-sufficient mind.
                        </p>
                        <a href="Linkedin">Linkedin</a>
                        <a href="mailto:anthanh@etereo.io">Mail</a>
                    </div>
                    <!-- <a class="bio-next"><img src="images/squares.svg" /></a> -->
                </div>
            </div>
        </div>
    </div>
</section>