<section id="twitter-news" class="bg-white">
    <div class="container">
        <a href="#" class="call-dna reveal">
                  Discover our DNA
                </a>

        <h2 class="reveal">Latest from Twitter</h2>
        <div class="reveal twitter-news-slides">
            <div class="twitter-news-slides-unit">
                <div class="profile-user">
                    <img src="https://pbs.twimg.com/profile_images/1276692957/yo_400x400.JPG" alt="">
                    <div class="profile-name">
                        <h5>Rubén Carrasco</h5>
                        <h6>@rcfsegovia</h6>
                    </div>
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit integer posuere erat a ante venenatis dapibus posuere velit aliquet, cum socis natoque”</p>
                </div>
            </div>
            <div class="twitter-news-slides-unit">
                <div class="profile-user">
                    <img src="https://pbs.twimg.com/profile_images/508649957356605440/8PRfq47m_400x400.jpeg" alt="">
                    <div class="profile-name">
                        <h5>Anthanh Pham</h5>
                        <h6>@antaipt</h6>
                    </div>
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit integer posuere erat a ante venenatis dapibus posuere velit aliquet, cum socis natoque”</p>
                </div>
            </div>
            <div class="twitter-news-slides-unit">
                <div class="profile-user">
                    <img src="https://pbs.twimg.com/profile_images/832902360091475968/kmAzwS_Y_400x400.jpg" alt="">
                    <div class="profile-name">
                        <h5>etéreo</h5>
                        <h6>@etereoio</h6>
                    </div>
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit integer posuere erat a ante venenatis dapibus posuere velit aliquet, cum socis natoque”</p>
                </div>
            </div>
            <div class="twitter-news-slides-unit">
                <div class="profile-user">
                    <img src="https://pbs.twimg.com/profile_images/1276692957/yo_400x400.JPG" alt="">
                    <div class="profile-name">
                        <h5>Rubén Carrasco</h5>
                        <h6>@rcfsegovia</h6>
                    </div>
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit integer posuere erat a ante venenatis dapibus posuere velit aliquet, cum socis natoque”</p>
                </div>
            </div>
            <div class="twitter-news-slides-unit">
                <div class="profile-user">
                    <img src="https://pbs.twimg.com/profile_images/508649957356605440/8PRfq47m_400x400.jpeg" alt="">
                    <div class="profile-name">
                        <h5>Anthanh Pham</h5>
                        <h6>@antaipt</h6>
                    </div>
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit integer posuere erat a ante venenatis dapibus posuere velit aliquet, cum socis natoque”</p>
                </div>
            </div>
            <div class="twitter-news-slides-unit">
                <div class="profile-user">
                    <img src="https://pbs.twimg.com/profile_images/832902360091475968/kmAzwS_Y_400x400.jpg" alt="">
                    <div class="profile-name">
                        <h5>etéreo</h5>
                        <h6>@etereoio</h6>
                    </div>
                    <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit integer posuere erat a ante venenatis dapibus posuere velit aliquet, cum socis natoque”</p>
                </div>
            </div>
        </div>
    </div>
</section>