<section id="about-us-values" class="bg-black">
  <div class="container">
    <a href="#about-us-values" class="scroll-anchor"></a>
    <h2 class="reveal">What we believe</h2>
    <div class="values-list">
      <div class="values-unit">
        <div class="values-unit-description rellax" data-rellax-speed="-1" data-rellax-percentage="-1">
          <div class="values-unit-number">01</div>
          <h3>Strategy</h3>
          <p>We help you to properly define what you want to achieve, seeking solutions and improvements outside the initial idea. Turn moving concepts and abstract ideas into tangible structures that quickly familiarize the user.</p>
        </div>
        <div class="values-unit-picture rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
          <h5 class="number-focus rellax" data-rellax-speed="1" data-rellax-percentage="1">01</h5>
          <img src="images/about-1.png" />
        </div>
        <div class="clear"></div>
      </div>

      <div class="values-unit odd">
        <div class="values-unit-description rellax" data-rellax-speed="-1" data-rellax-percentage="-1">
          <div class="values-unit-number">02</div>
          <h3>Strategy</h3>
          <p>We help you to properly define what you want to achieve, seeking solutions and improvements outside the initial idea. Turn moving concepts and abstract ideas into tangible structures that quickly familiarize the user.</p>
        </div>
        <div class="values-unit-picture rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
          <h5 class="number-focus rellax" data-rellax-speed="-2" data-rellax-percentage="-0.5">02</h5>
          <img src="images/about-3.jpg" />
        </div>
        <div class="clear"></div>
      </div>

      <div class="values-unit">
        <div class="values-unit-description rellax" data-rellax-speed="-1" data-rellax-percentage="-1">
          <div class="values-unit-number">03</div>
          <h3>Strategy</h3>
          <p>We help you to properly define what you want to achieve, seeking solutions and improvements outside the initial idea. Turn moving concepts and abstract ideas into tangible structures that quickly familiarize the user.</p>
        </div>
        <div class="values-unit-picture rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
          <h5 class="number-focus rellax" data-rellax-speed="-2" data-rellax-percentage="-0.5">03</h5>
          <img src="images/about-1.png" />
        </div>
        <div class="clear"></div>
      </div>

      <div class="values-unit odd">
        <div class="values-unit-description rellax" data-rellax-speed="-1" data-rellax-percentage="-1">
          <div class="values-unit-number">04</div>
          <h3>Strategy</h3>
          <p>We help you to properly define what you want to achieve, seeking solutions and improvements outside the initial idea. Turn moving concepts and abstract ideas into tangible structures that quickly familiarize the user.</p>
        </div>
        <div class="values-unit-picture rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
          <h5 class="number-focus rellax" data-rellax-speed="-2" data-rellax-percentage="-0.5">04</h5>
          <img src="images/about-4.jpg" />
        </div>
        <div class="clear"></div>
      </div>

      <div class="values-unit">
        <div class="values-unit-description rellax" data-rellax-speed="-1" data-rellax-percentage="-1">
          <div class="values-unit-number">05</div>
          <h3>Strategy</h3>
          <p>We help you to properly define what you want to achieve, seeking solutions and improvements outside the initial idea. Turn moving concepts and abstract ideas into tangible structures that quickly familiarize the user.</p>
        </div>
        <div class="values-unit-picture rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
          <h5 class="number-focus rellax" data-rellax-speed="-2" data-rellax-percentage="-0.5">05</h5>
          <img src="images/about-1.png" />
        </div>
        <div class="clear"></div>
      </div>

    </div>
  </div>
</section>
