<section id="why" class="bg-black">
  <a href="#why" class="scroll-anchor"></a>
  <h2 class="reveal">Why this works</h2>
  <div class="how-to-circular-outter">
    <div class="how-to-unit how-to-community how-to-1 moving" data-position="1"></div>
    <div class="how-to-unit how-to-freedom how-to-2 moving" data-position="2"></div>
    <div class="how-to-unit how-to-competence how-to-3 moving" data-position="3"></div>
    <div class="how-to-unit how-to-citizenship how-to-4 moving" data-position="4"></div>
    <div class="how-to-unit how-to-expertise how-to-5 moving" data-position="5"></div>

    <div class="how-to-cta">
      <div class="how-to-cta-container">
        <h3><span>C</span><span>l</span><span>i</span><span>c</span><span>k</span><span> </span><span>t</span><span>o</span><span> </span><span>d</span><span>e</span><span>t</span><span>a</span><span>i</span><span>l</span><span>s</span></h3>
      </div>
    </div>

    <div class="how-to-circular-inner-1"></div>
    <!--<div class="how-to-circular-inner-2"></div>
            <div class="how-to-circular-inner-3"></div>-->
    <div class="how-to-description">
      <h3>Community</h3>
      <p>We want to control our time to enjoy our life and become better professionals.</p>
    </div>
    <div class="central-object">
      <div class="deca"></div>
      <div class="child decagon" id="dec_one"></div>
      <div class="child decagon" id="dec_two"></div>
      <div class="child decagon" id="dec_three"></div>
      <div class="child decagon" id="dec_four"></div>
      <div class="child decagon" id="dec_five"></div>
      <div class="child decagon" id="dec_six"></div>
      <div class="child decagon" id="dec_seven"></div>
      <div class="child decagon" id="dec_eight"></div>
      <div class="child decagon" id="dec_nine"></div>
      <div class="child decagon" id="dec_ten"></div>
      <div class="child decagon" id="dec_eleven"></div>
      <div class="child decagon" id="dec_twelve"></div>
    </div>
  </div>
</section>
